.home{
    font-family:comfortaa ;
    color:white!important ;
    text-align: center
}

.secao-home{
    background-color:#7FA56C ;
    padding: 2em ;
}

.secao-country{
    padding: 2em ;
}

.country{
    text-align: center ;
    font-family: acme
}